
/*body {
  background-image: url(../img/roadfog_1.jpg);
  box-sizing: border-box;

}*/

#shopbutton {
  margin: 30px;
  margin-bottom: 100px;
  text-align: center;
  box-sizing: border-box;


}

#maincontainer {
  padding-bottom: 45%;

}

#footer {
  padding: 3px;
  margin: 3px;

}

#subfooter {
  padding: 3px;
  margin-bottom: 3px;
}

/*.card-image:  {
  padding-top: 50px;
  vertical-align: middle;
}*/
